*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#darkCanvas{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(0,0,0), rgb(6,61,62)100%);
    position: fixed;
    z-index: 0;
}

#clearCanvas{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(255,255,255)5%, rgb(6,61,62)80%);
    position: fixed;
    z-index: 0;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header, footer{
    display: flex;
    width: 75%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    z-index: 10;
    padding: 1em;
}

main{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    z-index: 10;
    padding: 1em;
}

header #mode{
    align-self: flex-end;
    z-index: 11;
}

#darkButton1, #darkButton2, #darkButton3, #darkButton4, #darkButton5{
    display: flex;
    width: 25%;
    justify-content: center;
    background-color: rgba(6, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: all .2s ease-in-out;
    padding: 1em 1em;
    margin: 3px;
    border-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px rgba(6, 255, 255, 0.25);
}

#clearButton1, #clearButton2, #clearButton3, #clearButton4, #clearButton5{
    display: flex;
    width: 25%;
    justify-content: center;
    background-color: rgba(6, 255, 255, 0.5);
    color: rgb(255,255,255);
    font-size: 25px;
    transition: all .2s ease-in-out;
    padding: 1em 1em;
    margin: 3px;
    border-color: rgb(255,255,255);
    box-shadow: 0px 0px 20px rgba(6, 255, 255, 0.25);
}

#darkButton1:hover, #darkButton2:hover, #darkButton3:hover, #darkButton4:hover, #darkButton5:hover{
    background-color: rgba(6, 255, 255, 1);
    transform: scale(1.2)
}

#clearButton1:hover, #clearButton2:hover, #clearButton3:hover, #clearButton4:hover, #clearButton5:hover{
    background-color: rgba(6, 255, 255, 1);
    transform: scale(1.2)
}

h1, h2{
    color: white;
}

#mode{
    display: flex;
    width: 10%;
    size: 50%;
    transition: all .2s ease-in-out;
}

img:hover{
    transform: scale(1.2);
}
