@font-face {
    font-family : "Numans";
    src : url("/fonts/Numans-Regular.woff"),
    url("/fonts/Numans-Regular.woff2");
    font-weight : normal;
    font-style : normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Numans";
}

#darkCanvas{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(0,0,0), rgb(6,61,62)100%);
    position: fixed;
    z-index: 0;
}

#clearCanvas{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, rgb(255,255,255), rgb(6,61,62)80%);
    position: fixed;
    z-index: 0;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: row;
    height: 100%;
}

header{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    z-index: 10;
    padding: 1em;
}
header a{
    display: flex;
    padding: 2em;
}
#logo{
    height: 50%;
    transition: all .3s ease-in-out;
}

main{
    display: flex;
    width: 170%;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    z-index: 10;
    font-size: 25px;
}
.myName{
    transition: all 1s ease-in-out;
}
.myName:hover{
    color:rgba(6, 255, 255, 1);
    transition: all 0.01s ease-in-out;
}
#darkH1{
    letter-spacing: -8px;
    padding-right: 1em;
    color: black;
}
#clearH1{
    letter-spacing: -8px;
    padding-right: 1em;
    color: white;
}
#about{
    display: none;
}

footer{
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding: 1em;
}

#darkButton1, #darkButton2, #darkButton3, #darkButton4, #darkButton5{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: all 0.6s ease-in-out;
    padding: 1em 1em;
    margin: 2%;
    border-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px rgba(6, 255, 255, 0.25);
}
#darkButton6{
    display: none;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: all 0.6s ease-in-out;
    padding: 1em 1em;
    margin: 2%;
    border-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px rgba(6, 255, 255, 0.25);
}

#clearButton1, #clearButton2, #clearButton3, #clearButton4, #clearButton5{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 255, 255, 0.5);
    color: rgb(255,255,255);
    font-size: 25px;
    transition: all 0.6s ease-in-out;
    padding: 1em 1em;
    margin: 2%;
    border-color: rgb(255,255,255);
    box-shadow: 0px 0px 20px rgba(6, 255, 255, 0.25);
}
#clearButton6{
    display: none;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 255, 255, 0.5);
    color: rgb(255,255,255);
    font-size: 25px;
    transition: all 0.6s ease-in-out;
    padding: 1em 1em;
    margin: 2%;
    border-color: rgb(255,255,255);
    box-shadow: 0px 0px 20px rgba(6, 255, 255, 0.25);
}

#darkButton1:hover, #darkButton2:hover, #darkButton3:hover, #darkButton4:hover, #darkButton5:hover, #darkButton6:hover{
    background-color: rgba(6, 255, 255, 1);
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

#clearButton1:hover, #clearButton2:hover, #clearButton3:hover, #clearButton4:hover, #clearButton5:hover, #clearButton6:hover{
    background-color: rgba(6, 255, 255, 1);
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

#mode{
    display: flex;
    width: 100%;
    transition: all .2s ease-in-out;
}

img:hover{
    transform: scale(1.2);
}

#logoName{
    width: 10%;
    transform: none;
}
